<!DOCTYPE html>
<html>
<head>
    <title>Servidor {{ inventory_hostname }}</title>
</head>
<body>
    <h1>Hola desde {{ inventory_hostname }}</h1>
    <p>Este es un servidor web configurado con Ansible.</p>
    <p>._. </p>
</body>
</html>

