<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a Mi Blog</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Bienvenido a el blog de la máquina virtual número {{id}}</h1>
    </header>
    <main>
        <section>
            <h2>El equipo de Falsificamos el INE de Wicho quedo en 10 lugar</h2>
            <article>
                <h3>¿Qué quien soy?</h3>
                <p>Acaso no sabes quien soy, soy {{ansible_default_ipv4.address}}</p>
            </article>
            <article>
                <h3>Noticia de última hora</h3>
                <p>Que viva ansible pero abajo debian12-cloud</p>
            </article>
        </section>
    </main>
    <footer>
        <p>&copy; Hasta la próxima</p>
    </footer>
</body>
</html>